/* Default styling for Xtreme Fitness */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px 0;
  color: #444;
}

p {
  margin: 0;
  padding: 10px 0;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  color: #333;
}

.logo img {
  width: 200px;
}

.cta-btn {
  background-color: #D40000;
  color: white;
  padding: 1em 2em;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.nav-menu {
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li {
  list-style-type: none;
}

nav ul li {
  padding: 0 1.5em;
}

nav ul li a {
  font-size: 18px;
}

nav ul li a:hover {
  font-size: 18px;
  color: #D40000;
}

.down {
  padding: 15px;
  position: relative;
  font-size: 18px;
  color: black;
}
.down ul {
  display: none;
}
.down:hover {
  cursor: pointer;
  color: #D40000;
}
.down:hover ul {
  display: block;
  padding-top: 50px;
  width: 300px;
  left: 0;
  position: absolute;
}
.down:hover ul li {
  display: block;
  background-color: #f8f8f8;
  padding: 1em 1.5em;
  text-align: left;
  color: #333;
  font-size: 16px;
}
.down:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #F03861;
  padding: 0.25em;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.down:hover ul li:hover {
  background-color: #ececec;
  color: #D40000;
}

.hero-cta {
  background-color: #D40000;
  color: white;
  font-weight: 500;
  padding: 1em 3em;
  border: 1px solid #D40000;
  margin: 2em 0;
  display: inline-block;
  text-decoration: none;
}

.hero-cta2 {
  color: white;
  margin-left: 1.5em;
  padding: 1em 2em;
}

.hero-heading {
  font-family: "Bebas Neue";
  color: white;
  font-size: 70px;
  width: 100%;
  line-height: 5rem;
  letter-spacing: 5px;
}

.hero-para {
  color: white;
  width: 30%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.about-text {
  width: 50%;
}

.about-img {
  width: 40%;
  display: grid;
  place-items: center;
}

.about-img img {
  width: 80%;
}

.section-heading {
  font-size: 40px;
  color: #D40000;
  font-family: "Bebas Neue";
  letter-spacing: 2px;
}

.section-para {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  font-smooth: auto;
  color: #333;
}

.animation {
  height: 70px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -10px;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 70px;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
  font-family: "Bebas Neue";
  padding: 0.1rem 0.75rem !important;
}

.second div {
  background-color: #CD921E;
  font-family: "Bebas Neue";
}

.third div {
  background-color: #c10528;
  font-family: "Bebas Neue";
}

.learn-more {
  color: #D40000;
  font-weight: 400;
  margin-top: 1.5em;
  display: block;
}

.section-subheading {
  font-weight: 600;
  line-height: 1;
  padding: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 7em;
}

.card {
  width: 18%;
  text-align: center;
  padding: 1.5em 1em;
  background-color: #f8f8f8;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 26px;
  color: #333;
  line-height: 1.1;
  padding: 0;
}

.card img {
  width: 40%;
  margin-bottom: 1em;
}

.programs {
  display: flex;
  margin: 4em 0;
}

.program-gym,
.program-academy {
  width: 50%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.program-gym:hover,
.program-academy:hover {
  background-color: rgba(0, 0, 0, 0.7);
  /* background-blend-mode: overlay; */
  background-position: center;
  transition: all 0.3s ease-in-out;
}

.program-gym:hover h4,
.program-academy:hover h4 {
  color: #D40000;
  transition: all 0.3s ease-in-out;
  letter-spacing: 40px;
}

.program-gym h4,
.program-academy h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 20px;
  /* color: #D40000; */
}

.git {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

#hero {
  height: 80vh;
  background-size: cover;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-position: top right;
}

#about {
  padding: 4em 0;
  justify-content: space-between;
}

#facilities {
  padding: 5em 0;
  text-align: center;
}

@keyframes text-animation {
  0% {
    margin-top: -5px;
  }
  10% {
    margin-top: -5px;
  }
  20% {
    margin-top: -90px;
  }
  30% {
    margin-top: -90px;
  }
  40% {
    margin-top: -175px;
  }
  60% {
    margin-top: -175px;
  }
  70% {
    margin-top: -90px;
  }
  80% {
    margin-top: -90px;
  }
  90% {
    margin-top: -5px;
  }
  100% {
    margin-top: -5px;
  }
}
/* Enquiry Form CSS */
#enquiry {
  padding: 5em 0;
  text-align: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#enquiry .wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 2em;
}

#enquiry .section-subheading {
  color: white;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: #D40000;
  color: white;
  font-weight: 500;
  padding: 1em 3em;
  border: 1px solid #D40000;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.form-field {
  position: relative;
  margin: 32px 0;
  width: 80%;
}

.input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: "Montserrat", serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  color: whitesmoke;
}

.label {
  position: absolute;
  left: 0px;
  bottom: 11px;
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  cursor: text;
  transition: transform 0.2s ease-in-out;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-30px);
}

/* Footer CSS */
footer {
  background: #000000;
  color: #fff;
  text-align: center;
  padding: 4em 0;
  padding-bottom: 0;
  /* position: fixed; */
  width: 100%;
  /* bottom: 0; */
}

footer .note {
  margin-top: 3em;
  background-color: #580000;
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 400px;
  text-align: left;
}

.footer-menu {
  padding: 0;
}

.footer-menu li {
  list-style-type: none;
  color: white;
  text-align: left;
  padding-bottom: 1.25em;
}

.footer-menu li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
}

.footer-left {
  width: 40%;
  text-align: left;
}

.footer-right {
  width: 30%;
  text-align: left;
}

.footer-middle {
  width: 20%;
  text-align: left;
}

.footer-left p {
  text-align: left;
  font-size: 12px;
  margin-top: 2em;
  width: 400px;
}

.footer-menu img,
.footer-social img {
  width: 26px;
  padding-right: 0.5em;
}

.footer-menu li {
  display: flex;
  align-items: center;
}

.footer-social {
  display: flex;
  padding: 0;
  align-items: center;
}

.footer-social li {
  list-style-type: none;
  padding-right: 1.25em;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover p {
  color: #D40000;
}

#banner {
  background: url(../images/banner.jpg) no-repeat center center/cover;
  height: 35vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
#banner .banner-heading {
  font-size: 60px;
  color: white;
  font-family: Bebas Neue;
  letter-spacing: 5px;
}

#contact {
  padding: 5em 0;
  text-align: center;
}
#contact .contact-container {
  display: flex;
}
#contact form {
  width: 50%;
  margin: 0 auto;
}
#contact label {
  color: #333;
}
#contact input {
  color: #333;
}
#contact .submit-btn {
  color: white;
}
#contact .contact-container {
  margin-top: 3em;
}
#contact .contact-info {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  justify-content: space-between;
  margin-top: 3em;
  margin: 0 auto;
}
#contact .contact-info img {
  width: 50px;
}
#contact .contact-info .contact-item {
  background-color: #f8f8f8;
  padding: 2em;
  border-radius: 5px;
}
#contact .contact-info .contact-item.map {
  grid-column: 1/3;
}
#contact .contact-form {
  width: 50%;
  background-color: #f9f9f9;
  margin-left: 2em;
  border-radius: 5px;
}/*# sourceMappingURL=styles.css.map */